function Keyboard.init 0
push constant 0
return
function Keyboard.keyPressed 1
push constant 24576
call Memory.peek 1
return
function Keyboard.readChar 1
label WHILE_EXP0
call Keyboard.keyPressed 0
not
not
if-goto WHILE_END0
push local 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Keyboard.keyPressed 0
pop local 0
label WHILE_EXP1
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END1
push local 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
call Output.printChar 1
pop temp 0
push local 0
return
function Keyboard.readLine 2
push constant 100
call String.new 1
pop local 0
push argument 0
call Output.printString 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.readChar 0
pop local 1
push local 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 128
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Output.println 0
pop temp 0
push local 0
return
goto IF_END1
label IF_FALSE1
push local 1
push constant 129
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call String.eraseLastChar 1
pop temp 0
goto IF_END2
label IF_FALSE2
push local 0
push local 1
call String.appendChar 2
pop local 0
label IF_END2
label IF_END1
label IF_FALSE0
push constant 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Keyboard.readInt 3
push constant 0
pop local 1
push argument 0
call Output.printString 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.readChar 0
pop local 2
push local 2
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push constant 47
gt
push local 2
push constant 58
lt
or
not
push local 2
push constant 128
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
not
push local 2
push constant 45
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 0
goto IF_END2
label IF_FALSE2
call Output.println 0
pop temp 0
push local 0
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
neg
pop local 1
label IF_FALSE3
push local 1
return
label IF_END2
label IF_FALSE1
push local 2
push constant 45
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 0
goto IF_END4
label IF_FALSE4
push local 2
push constant 129
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
push constant 10
call Math.divide 2
pop local 1
goto IF_END5
label IF_FALSE5
push local 1
push constant 10
call Math.multiply 2
pop local 1
push local 1
push local 2
push constant 48
sub
add
pop local 1
label IF_END5
label IF_END4
label IF_FALSE0
push constant 0
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
